{% extends '@manager/base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
<h1>Dashboard</h1>


<div>
    <strong>Menu label for App\\Entity\\Book</strong> : {{ manager_entity_menu_label('App\\Entity\\Book') }}
</div>



{% endblock %}
